@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/violet.css';

input,
button,
input {
	all: unset;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: system-ui;
	min-width: 100vw;
	min-height: 100vh;
	background-image: linear-gradient(
		330deg,
		hsl(272, 53%, 50%) 0%,
		hsl(226, 68%, 56%) 100%
	);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: white;
}

svg {
	display: block;
}
